alabaster==0.7.10
Babel==2.9.1
docutils==0.14
imagesize==0.7.1
py==1.4.34
Pygments==2.2.0
pytest==3.2.3
pytest-falcon==0.4.2
pytest-mock==1.7.0
pytz==2017.3
snowballstemmer==1.2.1
Sphinx==1.6.5
sphinx-autodoc-annotation==1.0.post1
sphinx-bootstrap-theme==0.6.0
sphinxcontrib-websupport==1.0.1
